body{
    background-color: lightgrey;
}
.fa{
    color:blue;
}
.box-center{
    padding: 200px 0px;
    margin : 30px 0px;
}
.box{
padding : 60px 0px;
}
.text{
margin : 80px 250px;
}
span{
font-size: 15px;
}
a{
border-bottom:1px solid blue;
}
.text-center{
    margin: 100px 200px
}
.R{
    color:black;
}

.flexMain {
    width: 1200px;
    height: 700px;
    display: flex;
    flex-direction: row;
    margin : 150px 300px
  }
  .flexsub1{
    width: 600px;
    height: 700px;
    display: flex;
    flex-direction: row;
    background-color: white;
    justify-content: center;
  }
  .flexsub2{
    width: 350px;
    height: 700px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    }
  .flexsub3{
    width: 250px;
    height: 700px;
    background-image: linear-gradient(rgb(209, 101, 101),rgb(80, 80, 136));
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: rgb(14, 13, 13);
    font-size: 60px;
  }
  .Midflex1{
    width: 300px;
    height: 100px;
    display: flex;
    flex-direction: column;
  }
  .Midflex2{
    width: 300px;
    height: 400px;
    font-size:60px;
    display: flex;
    flex-direction:column;
    color:red;
    justify-content: bottom;
  }
  .Midflex3{
    width: 300px;
    height: 100px;
    display: flex;
    flex-direction: column;
    font-size: 25px;

  }
  .rcorners4 {
    border-radius: 8px;
    padding: 10px; 
    width: 80px;
    height: 25PX; 
  }